body { font-size:92%; margin:0; background-image:url(/FreeBSD-ports/ui/hbarq.png); background-repeat:repeat-x; }
img { border:0; }
#wrap { width: 1080px; margin: auto; text-align:left; }
#content { padding:10px; }
#copyright { font-size: 90%; border-top:2px solid #ccc; padding:10px; }
.hd { padding: 5px; border-top: 2px solid #ccc; }
.date { width:230px; text-align:center; float:left; }
.tit { font-size:120%; width:220px; text-align:left; float: left; padding:5px;background-color:#ccc; }
.version { width:350px; text-align:right; float:left; }
pre { clear:both; margin-left:50px;padding-top:20px; padding-bottom:20px; }
.col { width: 250px; float:left; }
.page { font-size:80%;width:75px;background-color:#ccc;padding:3px;margin:5px;float:left; }
.pagey { font-size:80%;width:75px;background-color:#eee;padding:3px;margin:5px;float:left; }
.br { clear:both; }
.prx { width:1000px; }
table { border-collapse:collapse; }
td { padding: 3px; border: 2px solid #ccc; }
.nw { white-space: nowrap; }
.ui-autocomplete-loading { background: white url('/FreeBSD-ports/ui/ui-anim_basic_16x16.gif') right center no-repeat; }